
@model EasyTrip.Models.Classes.About

@{
    ViewBag.Title = "Blog Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Hakkımızda Güncelle</h2>

<div class="card">
    <div class="card-body">
        <form action="/Admin/Edit" method="post">
            @Html.AntiForgeryToken()


            <input type="hidden" name="AboutId" value="@Model.AboutId" />

            <div class="mb-3">
                <label for="blogTitle" class="form-label">BaşResimlık</label>
                <input type="text" class="form-control" id="blogTitle" name="ImageUrl" value="@Model.ImageUrl" required>
            </div>
            <div class="mb-3">
                <label for="blogImageUrl" class="form-label">Açıklama </label>
                <input type="text" class="form-control" id="blogImageUrl" name="Description" value="@Model.Description" required>
            </div>
            
            <button type="submit" class="btn btn-success">Kaydet</button>
        </form>
    </div>
</div>
